.topics{
    background: var(--blue-gradient);
    text-align: center;
    padding: 1em 0;
}

.topics__title {
    color: var(--white);
    font-weight: 300;
    margin-bottom: 1em;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__list__item {
    margin: 2em 0.5em;
}

.topics__list__item__link{
    padding: 1em;
    background-color: var(--orange);
    color: var(--white);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topics__title{
        font-size: 1.5rem;
    }

    .topics__list__item__link{
        font-size: 1.5rem;
    }
    .topics__list{
        margin: 0em 5em;
    }
}


@media screen and (min-width:1728px){

    .topics{
        padding: 3em 30vw;
    }
}